_auth = YWxleC5zdG9rZXJAbGVpc3VyZXBhc3Nncm91cC5jb206QVA5OGFhUXBWYzlNN0U2emsyTDhnb1FIcmM4
email = alex.stoker@leisurepassgroup.com
always-auth = true

@petroleum:registry=https://lpg.jfrog.io/artifactory/api/npm/virt-lpg-npm/
//lpg.jfrog.io/artifactory/api/npm/virt-lpg-npm/:_password=QVA5OGFhUXBWYzlNN0U2emsyTDhnb1FIcmM4
//lpg.jfrog.io/artifactory/api/npm/virt-lpg-npm/:username=alex.stoker@leisurepassgroup.com
//lpg.jfrog.io/artifactory/api/npm/virt-lpg-npm/:email=alex.stoker@leisurepassgroup.com
//lpg.jfrog.io/artifactory/api/npm/virt-lpg-npm/:always-auth=true
